include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		.wrap

		
			include ../common/header
			include ../common/home
		include ../common/footer
	// END body