nav {
    color: $text;
    a {
        // color: $text;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reg {
    display: flex;
}
.menu-services-toggle, 
.menu-bottom-toggle,
.menu-toggle {
    display: none;
}




.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 10px;
    position: relative;
    z-index: 3;
    &__adress {
        padding: 5px;
        text-align: right;
        padding-right: 7%;
        flex-grow: 1;
        font-size: 16px;
        span {
            display: block;
        }
    }
    &__phones {
        padding: 5px;
        font-size: 19px;
        a {
            display: block;
        }
    }
}
.logo {
    width: 236px;
    padding-left: 20px;
    img {
        width: 100%;
    }
} 
.menu-mobile {
    display: none;
}

.toggle-menu {
    display: none;
}
.cross {
    display: none;
}
.main-menu {
    a  {
        display: block;
    }

}
.menu-wrap {
    width: 100%;
}
.menu-top {
    &__items {
        display: flex;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 5px;
        flex-basis: 0;
        flex-grow: 1;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            width: 98%;
            left: 1%;
            top: 4%;
            height: 94%;
            background: rgb(130,130,131);
            background: linear-gradient(180deg, rgba(130,130,131,1) 0%, rgba(245,245,247,1) 50%, rgba(130,130,131,1) 100%);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            transform: skew(-28deg, 0deg);
            z-index: -1;
        }
    }
    &__item-wrap {
        margin: auto;
        a {
            &:hover {
                opacity: 0.5;
                text-decoration: underline;
            }
        }
        &>a {
            text-align: center;
            color: #000;
            padding: 0 5px;
            font-size: 20px;
   
        }
        span {
            display: block;
            text-align: left;
            font-size: 14px;
            &:nth-child(1) {
                padding-left: 16%;
            }
            &:nth-child(2) {
                padding-left: 12%;
            }
            &:nth-child(3) {
                padding-left: 8%;
            }
            &:nth-child(4) {
                padding-left: 1%;
            }
        }
    }
    &__special-link {
        padding-left: 1%;
        a {
            color: #000;
        }
    }
}
.menu-services {
    padding-top: 174px;
    margin-top: -174px;
    background: url('../assets/img/bg-menu.jpg') no-repeat;
    background-size: cover;
    &__items {
        display: flex;
        flex-wrap: wrap;
        padding: 70px 0 35px;
        
    }
    &__item {
        width: 50%;
        margin-bottom: 30px;
        a {
            display: block;
            text-transform: uppercase;
            font-size: 18px;
            text-align: center;
            &:hover {
                transform: scale(1.05);
            }
        }
        &:nth-child(2n+1) {
            background: url('../assets/img/bg-button.png') no-repeat;
            background-size: contain;
            a {
                padding: 2.5% 21% 2.5% 22%;
            }
        }
        &:nth-child(2n) {
            background: url('../assets/img/bg-button-right.png') no-repeat;
            background-size: contain;
            a {
                padding: 2.5% 31% 2.5% 11%;
            }
        }
    }
}
.menu-bottom {
    &__items {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #fff;        
    }
    &__item {
        flex-grow: 1;
        a {
            display: block;
            padding: 3px;
            color: #fff;
            background-color: #982423;
            border: 1px solid #fff;
            text-transform: uppercase;
            font-size: 15px;
            text-align: center;
            &:hover {
                transform: scale(1.05);
            }
        }
       
    }
}
.for-disp-none, .menu__dop {
    display: none;
}
//header
