section.lic-wrap
    .wrap.lic
        .title.lic__title Лицензии на осуществление медицинской деятельности 
        .lic__body
            .lic__slider
                .lic__item-wrap
                    .lic__item 
                        a.lic__img(href="img/lic/lic1.jpg" data-fancybox="images" data-caption="lic")
                            img(src="img/lic/lic1.jpg", alt="sert")
                        .lic__text Лицензия 1стр.
                .lic__item-wrap
                    .lic__item 
                        a.lic__img(href="img/lic/lic2.jpg" data-fancybox="images" data-caption="lic")
                            img(src="img/lic/lic2.jpg", alt="sert")
                        .lic__text Лицензия 2стр.
                .lic__item-wrap
                    .lic__item 
                        a.lic__img(href="img/lic/lic3.jpg" data-fancybox="images" data-caption="lic") 
                            img(src="img/lic/lic3.jpg", alt="sert")
                        .lic__text Приложение 1
                .lic__item-wrap
                    .lic__item 
                        a.lic__img(href="img/lic/lic1.jpg" data-fancybox="images" data-caption="lic") 
                            img(src="img/lic/lic1.jpg", alt="sert")
                        .lic__text Приложение 2
                .lic__item-wrap
                    .lic__item 
                        a.lic__img(href="img/lic/lic1.jpg" data-fancybox="images" data-caption="lic") 
                            img(src="img/lic/lic1.jpg", alt="sert")
                        .lic__text Приложение 3