header
	.header
		.logo 
			img(src="assets/img/logo.png", alt="logo")
		.header__adress 
			span город Орел,
			span Московское ш.101 Б
			span 9.00-19.00
		.header__phones
			a(href="tel:89536276444") 8 (953) 627-64-44
			a(href="tel:84862630653") 8 (4862) 63-06-53
	nav.menu-top
		.nav
			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				.main-menu 
					ul.menu-top__items
						li.menu-top__item
							.menu-top__item-wrap
								a(href="https://vk.com/conceptauto_orel" target="_blank") Вконтакте
								a(href="https://www.instagram.com/concept_auto57/" target="_blank") Instagram

						li.menu-top__item
							.menu-top__item-wrap
								a(href="www.orelstarline.ru" target="_blank") 
									span www.orelstarline.ru
									span сигнализации
									span парктроники
									span старт-стоп
						li.menu-top__item
							.menu-top__item-wrap
								a(href="index.html") ГЛАВНОЕ МЕНЮ
						li.menu-top__item
							.menu-top__item-wrap
								a.menu-top__item-group(href="http://www.agressor.shop" target="_blank") 
									span www.agressor.shop
									span все для тюнинга
									span Ваза и иномарок
								.menu-top__special-link
									a(href="https://vk.com/conceptauto_orel" target="_blank") Онлайн заказ запчастей
						li.menu-top__item
							.menu-top__item-wrap
								a(href="#") Контакты
	nav.menu-services
		.menu-services-toggle Услуги
		.main-menu-services
			ul.menu-services__items
				li.menu-services__item
					a(href="#") Дизайн-студия
				li.menu-services__item
					a(href="#") Акции!!!!
				li.menu-services__item
					a(href="#") Тонирование
				li.menu-services__item
					a(href="#") Изготовление ковриков
				li.menu-services__item
					a(href="#") Оклейка пленками Vinyl
				li.menu-services__item
					a(href="#") Камеры и парктроники
				li.menu-services__item
					a(href="#") Брендирование авто
				li.menu-services__item
					a(href="#") Наклейки
				li.menu-services__item
					a(href="#") Шумоизоляция
				li.menu-services__item
					a(href="#") Аквапечать
				li.menu-services__item
					a(href="#") Установка сигнализаций
				li.menu-services__item
					a(href="#") Полировка фар
				li.menu-services__item
					a(href="#") Автозвук
				li.menu-services__item
					a(href="#") Online-запись
				li.menu-services__item
					a(href="#") Диски
				li.menu-services__item
					a(href="#") Кованные диски
	nav.menu-bottom
		.menu-bottom-toggle Услуги
		.main-menu-bottom
			ul.menu-bottom__items
				li.menu-bottom__item
					a(href="#") Контакты
				li.menu-bottom__item
					a(href="#") Свидетельства
				li.menu-bottom__item
					a(href="#") Дипломы и сертификаты
				li.menu-bottom__item
					a(href="#") О нас
				li.menu-bottom__item
					a(href="#") Отзывы
				li.menu-bottom__item
					a(href="#") Книга предложений и жалоб
