section.home   
    ul.home__items
        li.home__item
            h2 
                a(href="#") Автозвук
            p На сегодня является грубым понятием широкого спектра возможностей. С этим словом связано большое количество услуг, которое мы оказываем индивидуально для каждого клиента.
            p Например, диагностика магнитолы - это уже можно считать "автозвуком", или же установка шумоизоляции в целях аудиоподготовки.  И то, и другое относится к этому направлению.
            p Основными направлениями автозвука являются:
            ul
                li 1) установка аудиооборудования в автомобиль;
                li 2) изготовление подиумов, полок, корпусов и фальш-панелей;
                li 3) инсталляция салона (дверных обшивок, обшивок салона, либо компонентов автозвука);
                li 4) диагностика шумов в автомобиле;
                li 5) регулирование системы (магнитола, усилители, процессоры);
                li 6) замер системы на звуковое давление.
        li.home__item
            h2
                a(href="#") Брендирование
            p Брендирование (от слова "бренд", "логотип" определенной организации) включает в себя разработку макета на кузов автомобиля с последующей нарезкой, печати на материал и оклейкой самого автомобиля. То есть брендирование автомобилей - это живая реклама на дороге. Автомобиль оклеивается в рекламный щит - где используется символика организации, контактные данные и прочее.
            p Брендирование автомобилей набирает все большую актуальность, так как живая реклама на дорогах работает. Исходя из статистики, огромное количество людей пересаживается с общественного транспорта в автомобиль, ну а в пробках всегда есть время поводить глазами вокруг светофора и почитать полезную информацию на соседней машине!!
        li.home__item
            h2
                a(href="#") Изготовление ковриков
            p Автомобильные текстильные коврики изготавливаются в течение 1,5 часов. В качестве сырья используется специальный прорезиненный автомобильный  материал. Срок службы таких ковриков составляет от 1 года до 3 лет, в зависимости от условий эксплуатации и ухода за ними.
            p Коврики разрабатываются не только для салона автомобиля и багажника, но так же и для грузового и коммерческого транспорта, микроавтобусов и автобусов.
            p С текстильными ковриками ездить в салоне Вашего автомобиля гораздо комфортнее и уютнее, при поездке на дальние расстояния Ваши ноги чувствуют себя легче, по сравнению с резиновыми. Благодаря нашим  коврикам, пыль не так поднимается вверх. Они станут неотъемлемой частью декора салона Вашего автомобиля.
            p Материалы подбираются индивидуально для каждого автомобиля. Можно выбрать под цвет пола, или же наоборот, сделать их акцентом Вашего салона. Так же можно использовать разную цветную нить для оверложивания краев коврика.
            p Ярким и стильным элементом станет металлический лейбл с названием марки Вашего автомобиля или с персональной надписью. Здесь уже Ваши идеи готовы воплощаться, какими бы экстравагантными они не были!)
        li.home__item
            h2
                a(href="#") Оклейка кузова пленками
            p Пленки для кузова автомобиля бывают двух типов: ПВЧ (винил) и полиуретан.
            p Полиуретановые пленки как правило используются только в целях защиты лакокрасочного материала или каких-либо поверхностей от царапин и прочих повреждений.
            p Материал в основной массе на рынке прозрачный. Толщина его составляет от 100 мКн и более. В структуре материала содержится специальный пластификатор, что дает пленке эффект резины, то есть это играет большую роль для защиты ЛКМ (лакокрасочного материала).
            p На рынке выделяют несколько производителей полиуретановой пленки высокого качества - это 3М, LLumar и SunTek. Каждый производитель пленки имеет свои индивидуальные особенности*.
            p ПВХ и виниловые пленки используются как в качестве защиты ЛКМ, так и в целях стайлинга автомобиля.
            p Сегодня черная тачка, завтра белая. Также скрещивается большое количество пленок, режется на плоттере, или печатается рисунок на пленке и устанавливается после на детали кузова.
            p Частичная оклейка... Здесь фантазии нет предела, и на помощь в реализации идей  приходят дизайнеры.
        li.home__item
            h2
                a(href="#") Установка автосигнализации
            p На  автомобильном рынке не на всех марках машин установлены сигнализации с тем набором функций, которые удовлетворят индивидуальные потребности каждого!
            p Начиная от ВАЗа и заканчивая мерседесом, всегда есть, что предложить нашему клиенту.
            p У нас имеется свой мини-магазинчик www.orelsterline.ru , который поможет с выбором не только автосигнализации, но и  предложит Вам другие примочки для Вашего автомобиля.
            p К современным функциям автосигнализации относится:
            ul 
                li 1) дистанционный запуск (с брелка сигнализации или с телефона);
                li 2) GPRS управление автомобилем;
                li 3) различные блокировки от угона;
                li 4) отслеживание коммерческого транспорта;
                li 5) контроль личного водителя на территории РФ;
                li и многое другое.
            p Основные производители автосигнализаций, которые мы устанавливаем, - это Pandora, Starline и ALLIGATOR. Также имеется большинство других сигнализаций, которые можно подобрать, исходя из необходимых функций, будь то мотоцикл, грузовик 24 или же внедорожник.
            p Все товары и услуги стайлинг-студии сертифицированны!
        li.home__item
            h2
                a(href="#") Установка видеокамер и парктроников
            p Парктроник и видеокамера сейчас наиболее актуальны. К парктроникам можно отнести не только 4 датчика. Они бывают очень разнообразны, часто используются парктроники слепых зон, устанавливаются на 8 датчиков.
            p Бывают парктроники с зуммером, дисплеем, голосом и другие.
            p На нашем рынке производителей таких систем очень много.
            p Видеокамеры, как и парктроники, можно устанавливать как сзади, так и спереди автомобиля, так же по бокам и внутри салона.
            p Камера используется в трех направлениях:
            ul
                li 1) видеофиксация (сплиттер на 2, 4, 6, 8 камер);
                li 2) парковка автомобиля;
                li 3) контроль слепых зон автомобиля.
            p Все это помогает новичку (автовладельцу) управлять своим транспортным средством с наибольшей безопасностью, чувствовать габариты своей "телеги" при помощи данного оборудования!
        li.home__item
            h2
                a(href="#") Шумоизоляция
            p Вибро-, шумо-, теплоизоляция Вашего автомобиля поможет передвигаться по оживленной трассе и городу с дополнительным комфортом. Также шумоизоляция устанавливается в целях аудиоподготовки и устранении "сверчков", которые проявляются от времени эксплуатации автомобиля и его общего пробега.
            p Для проведения таких работ используются материалы ведущих отечественных производителей STP и SGM.
        li.home__item
            h2
                a(href="#") Дизайн-студия
            p Автомобильный дизайн в Орле ещё не переступил черту старта, но предпосылки этому имеются.
            p Что такое дизайн и для чего необходимо это направление в автомобильной тематике: Прежде всего перед началом каких-либо  работ в автомобиле мы задаемся вопросами: «а что же получится в итоге?», «А как это будет выглядеть?».
            p С этими не сложными вопросами помогает справиться современное дизайнерское направление. Тут специалист использует ряд программ для того, что бы максимально показать фотографию задуманного проекта в перспективе.
            p В дизайне просчитывается и стоимость материала и стоимость работ и время реализации проекта исходя из технических данных.