#sendform1.sendform.disabled
    .sendform__wrap.animated.fadeInDown
        .close#sendform-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')

        h3 Воспользуйтесь формой обратной связи
        .sendform__text В течении 48 часов я с вами свяжусь
        form.modal__form(action="#")   
            .form-line.phone
                input(type='text', name='name', placeholder='Имя', required)
            .form-line.phone
                input(type='email', name='email', placeholder='E-mail', required)
            .form-line.phone
                input#modal__phone.phone-mask(type='text', name='phone', placeholder='+ 7 (___) ___ – __ – __ ', required)
            .form-line
                input.btn(type='submit', value='Отправить')
            .agree-line
                input#modal__agree(type='checkbox', checked='', disabled)
                label(for='#modal__agree') Отправляя заявку, я принимаю 
                    a(href="#") Пользовательское соглашение
#sendform2.sendform.disabled
    .sendform__wrap.animated.fadeInDown
        .close#sendform-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')

        h3 Воспользуйтесь формой обратной связи
        .sendform__text В течении 48 часов я с вами свяжусь
        form.modal__form(action="#")   
            .form-line.phone
                input(type='text', name='name', placeholder='Имя', required)
            .form-line.phone
                input(type='email', name='email', placeholder='E-mail', required)
            .form-line.phone
                input#modal__phone.phone-mask(type='text', name='phone', placeholder='+ 7 (___) ___ – __ – __ ', required)
            .form-line
                input.btn(type='submit', value='Отправить')
            .agree-line
                input#modal__agree(type='checkbox', checked='', disabled)
                label(for='#modal__agree') Отправляя заявку, я принимаю 
                    a(href="#") Пользовательское соглашение